.container {
  width: 24%;
  position: relative;
}

.modal {
  position: absolute;
  top: 70px;
  left: 0;
  width: 360px;
  height: auto;
  border-radius: 5px;
  padding: 30px;
  background: #FFF;
  color: #000;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.10);
  text-align: center;
  font-family: Pretendard-Regular, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  animation: 4s up_down ease-in-out;
}

@keyframes up_down {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
