.container {
  position: absolute;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.basePlate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blendLayer {
  position: absolute;
  top: 0.9091%;
  left: 0.9091%;
  width: 98.1818%;
  height: 98.1818%;
}

.hologram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
}

.hologram1 {
  background: var(--hologram1);
  transform: rotateZ(var(--angle1));
  mix-blend-mode: hard-light;
  clip-path: url(#cd16.94);
}

.hologram2 {
  background: var(--hologram2);
  transform: rotateZ(var(--angle2));
  mix-blend-mode: hue;
  clip-path: url(#cd18.86);
}

.hologram3 {
  background: var(--hologram3);
  transform: rotateZ(var(--angle3));
  mix-blend-mode: saturation;
  clip-path: url(#cd25);
}
