.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f7a8ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -2;
}

.main {
  height: 80%;
  background-color: #f1e7cc;
  display: flex;
}

.left,
.right {
  flex: 1 0 80px;
  box-sizing: border-box;
}

.left {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.item {
  flex: 0 1 calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  width: 20%;
  aspect-ratio: 1;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.dot:hover {
  background-color: red;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasWrapper {
  position: relative;
  width: 80%;
  height: 60%;
  background-color: #f3eed8;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  position: absolute;
  top: -10px;
  background-color: #efe05f;
  padding: 8px 24px;
}

.button {
  border: none;
  position: absolute;
  right: -10px;
  bottom: -20px;
  background-color: #ececec;
  padding: 8px 24px;
  display: flex;
  z-index: 100;
}

.button:hover {
  background-color: red;
}
